.dart_tool/
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
build/
dist/
service/build/
assets/bin/**
.cache/
onnxruntime-linux-*/
onnxruntime*.tgz
*.iml
*.swp
__pycache__/
*.pyc
.DS_Store
.agents/
.idea/
.vscode/
*.log
os/deb/
